body{
  /*  background: linear-gradient(90deg,#01a3a4,#4A148C) */
  /*background: linear-gradient(90deg,#FFCCBC,#FFF9C4,#C8E6C9 , #C5CAE9)*/
  /*position: relative;*/
}

#header {
  background-image: url("https://images.unsplash.com/photo-1496867557017-559adb93b339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
}

#upper-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo{
  font-size: 15px;
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#header-img {
  width : 70px;
  height: 70px;
}

#nav-bar{
  display: flex;
  padding: 10px;
  
}

#menu1{
  width: 100px;
  text-align: center;
}

#menu2{
  width: 100px;
  text-align: center;
}

#menu3{
  width: 100px;
  text-align: center;
}

