body{
  /*  background: linear-gradient(90deg,#01a3a4,#4A148C) */
  /*background: linear-gradient(90deg,#FFCCBC,#FFF9C4,#C8E6C9 , #C5CAE9)*/
  /*position: relative;*/
  background-color: #C8E6C9;
}
a {
  color: black;
  text-decoration: none;
}

#header {
  display: flex;
  position: relative;
}
#header::after {
  content: "";
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1496867557017-559adb93b339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
  opacity: 0.5;
  top: 82px;
  left: 0;
  bottom: 0;
  right: -10px;
  position: absolute;
  z-index: -1;   
}

#upper-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  
}

#logo{
  font-size: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 130px;
}

#header-img {
  width : 70px;
  height: 70px;
}

#nav-bar{
  display: flex;
  padding: 10px;
  
}
@media (max-width: 500px) {
  #header::after{
    top: 110px;
  }
  #nav-bar{
    flex-direction: column;
    margin-right: 20%;
    justify-content: center;
    align-items: center;
  }
  #menu1{
    margin-top: 15px;
    color: black;
  }
  #menu2{
    margin-top: 10px;
  }
  #menu3{
    margin-top: 10px;
  }
}

#menu1{
  width: 100px;
  text-align: center;
}

#menu2{
  width: 100px;
  text-align: center;
}

#menu3{
  width: 100px;
  text-align: center;
}

#free-trial{
  margin: 150px 10px 10px 50px;
  text-align: center;
}

#video {
  width: 350px;
  position: relative;
}
